body {
    margin: 0px;
}

.section__song {
    padding: 45px 0px;
}

.section__introduction {
    padding: 45px 0px;
    background-color: #7209B7;
}

.container__title {
    text-align: center;
    color: white;
}

.container__title--black {
    text-align: center;
    color: black;
}

.text {
    color: white;
}

.container {
    padding: 15px 0px;
}

.container__col {
    padding: 5px 0px;
}

.swiper {
    max-width: 600px;
    height: 300px;
}

.swiper-slide {
    text-align: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px !important;
    color: white;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0px;
}

.slider__image {
    height: 100%;
    border-radius: 6px;
}

@media (max-width: 768px) { 
    .container__col {
        padding-top: 10px;
    }
}